<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body >
<div class="container" >
    <h1 class="mt-5">Users List</h1>
    <a href="/users/showNewUserForm" class="btn btn-primary mb-3">Add New User</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Number</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.number}">Number</td>
            <td th:text="${user.gender}">Gender</td>
            <td th:text="${user.dateOfBirth}">Date of Birth</td>

            <td>
                <a th:href="@{/users/showFormForUpdate/{id}(id=${user.id})}" class="btn btn-warning">Edit</a>
                <a th:href="@{/users/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
