<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<h2>Create User</h2>
<form action="/api/users/create" method="post">

    <label for="id">id:</label><br>
    <input type="number" id="id" name="id" required><br><br>

    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>
